.inicial{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    height: 90vh;
    background-image: linear-gradient(to right, rgb(0, 200, 255), rgb(16, 61, 89));
    /* rgb(242, 132, 132), rgb(235, 12, 12) */
    color: black;
    box-sizing: border-box;
}
img{
    max-width: 200px;
    border-radius: 50%;
    border: solid 8px rgb(241, 157, 209);
}

.div-do-texto {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.botao{
    width: ;
    margin: 0 auto;
}

.div-da-imagem {
    float: right;
}
button{
    background-color: rgb(181, 241, 235);
    width: auto;
    height: auto;
    border-radius: 10%;
    border: solid 3px rgb(116, 153, 150);
}