* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #eee;
}

.menu{
    background-color: #eee;
    padding: 50px;
}

.alinhar{
    float: right;
}

.link-especial{
    text-decoration: none;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(247, 44, 196);
    background-color: #eee;
    border: 2px solid rgb(247, 44, 196);
    padding: 12px;
    border-radius: 25px;
    margin-left: 30px;
    cursor: pointer;
    transition-duration: .3s;
}
.link-especial:hover{
    color: #eee;
    background-color: rgb(247, 44, 196);
    transition-duration: .3s;
}

.titulo{
    font-size: 60px;
    font-weight: bold;
}

.subtitulo{
    font-size: 30px;
    margin: 20px;
}

.oi{
    color: rgb(247, 44, 196);
}

.inicial{
    padding-top: 5vh;
    height: auto;
    background-color: #eee;
    color: rgb(70, 70, 70);
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

img{
    margin: 60px;
    max-width: 260px;
    border-radius: 50%;
    border: solid 6px rgb(247, 44, 196);
}

.sobre-mim{
    background-color: rgb(247, 44, 196);
    color: #eee;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

.titulo-sobre-mim{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.subtitulo-sobre-mim{
    font-size: 25px;
}

.texto-sobre-mim {
    max-width: 70%;
    margin: auto;
}

.experiencia{
    margin:auto;
    width: 80%;
    margin-top: -50px;
    font-family: 'Chakra Petch', sans-serif;
    background-color: #eee;
    border-radius: 20px;
    border: 1px solid rgb(247, 44, 196);
    padding: 20px;
    position: relative;
}
.experiencia-titulo{
    font-size: 50px;
    font-weight: bold;
    color: rgb(70, 70, 70);
    text-align: center;
}

.grid{
    display: inline-flex;
    width: 100%;
    font-size: 20px;
}

.teste {
    margin: 30px;
    width: 100%;
}

.linguagem{
    border: 1px solid rgb(70, 70, 70);
    border-radius: 20px;
    text-align: center;
    padding: 40px;
    margin-top: 100px;
    margin: auto;
    width: 50%;
    transition-duration: .2s;
}
.linguagem:hover{
    border: 2px solid rgb(242, 149, 219);
    box-shadow: 8px -8px 10px rgb(242, 149, 219);
    transition-duration: .2s;
}
.icone{
    font-size: 100px;
    margin: 20px;
}
.lang{
    font-size: 30px;
    color: rgb(70, 70, 70);
}
.icone1{
    color: orangered;
}
.icone2{
    color: rgb(0, 81, 255);
}
.icone3{
    color: rgb(255, 221, 0);
}
.icone4{
    color: rgb(0, 136, 255);
}
.contato{
    height: auto;
    text-align: center;
    background-color: rgb(247, 44, 196);
    padding: 80px;
    margin-top: -50px;
    
}
.link-contato{
    text-decoration: none;
    color:#eee;
    border: 1px solid #eee;
    padding: 40px;
    margin: 30px;
    border-radius: 100px;
    font-size: 30px;
}
.frase{
    padding: 60px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 50px;
    color: #eee;
    transition-duration: .4s;
}

.link-contato:hover{
    background-color: #eee;
    color: rgb(247, 44, 196);
    transition-duration: .4s;
}
@media screen and (max-width: 700px) {
   .grid{
        display: block;
   }
   .teste{
        margin: auto;
        margin-bottom: 20px
   }
   .frase{
    font-size: 25px;
   }
   .link-contato{
    font-size: 20px;
    padding: 20px;
    margin: 10px;
   }
   img{
    margin: auto;
    width: 80%;
   }
};